$primary: #FF6B00;
$secondary: #323D57;
$black: #111111;

$white: #ffffff;
$grey1: #0000001A;
$grey2: #606060;
$grey3: #00000029;
$grey5: #E8E8E8;
$grey6: #888888;
$grey7: #8888884D;
$grey8: #F5F5F5;
